/* Color Pallete */
:root {
  --background-color: #ffffff;
  --default-color: #4e4e4e;
  --heading-color: #0a090f;
  --accent-color: #0078ff;
  --surface-color: #ffffff;
}

/* Typography */
html {
  font-size: 62.5%;
}
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

body {
  font-size: 2.1rem;
  font-family: var(--default-font);
  color: var(--default-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  margin: 1.5rem 0;
  font-weight: 600;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  h5 {
    font-size: 2rem;
  }
}
/* Icons */

.icon {
  width: 32px;
  height: 32px;
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon--lsmall {
  width: 24px;
  height: 24px;
}

.icon--white {
  color: var(--surface-color);
}

.icon--accent {
  color: var(--accent-color);
}

.icon__container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__boundary{
  border: 1px solid var(--accent-color);
  background-color: var(--surface-color);
  width: 48px;
  height: 48px;
  transition: color .4s;
}

.icon__boundary:hover{
  background-color: var(--accent-color);

}
.icon__boundary:hover .icon{
  color: var(--surface-color);
}

/* Service Components */
.service__card {
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--surface-color);
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  border-bottom: 5px solid var(--surface-color);
  margin: 2rem;
  height: 200px;
}
.service__card > p {
  line-height: 1.2;
  font-size: 1.4rem;
}

/* Resume Element */
.resume__info {
  margin: 3rem;
}

.resume__items {
  padding-left: 1.6rem;
  border-left: 2px solid dodgerblue;
  position: relative;
}
.resume__description {
  font-style: italic;
}

.resume__items-heading {
  color: var(--default-color);
  text-transform: uppercase;
}
.list__items {
  padding-bottom: 1rem;
}
.list__item {
  margin-bottom: 1rem;
}

.resume__items::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -10px;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

/* Pricing Section */

.pricing__description {
  font-size: 2rem;
}

.pricing__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted var(--default-color);
  margin: 2rem;
}

.pricing__item-price {
  color: var(--accent-color);
}

/* FAQ */
.faq__item {
  background-color: var(--surface-color);
  position: relative;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.number {
  color: var(--accent-color);
}

.faq__item .icon {
  position: absolute;
  right: 24px;
  top: 24px;
}

.faq__content {
  font-size: 1.6rem;
  width: 100%;
  height: 0;
  opacity: 0;
  transition:height .2s ease-in, opacity 0.4s ease;
}

.collapsible--expanded .faq__item-heading {
  color: var(--accent-color);
}
.collapsible--expanded .faq__content {
 height: 100%;
  opacity: 1;
}

.collapsible--expanded .icon {
  transform: rotate(90deg);
  fill: var(--accent-color);
  transition: transform 0.5s;
}


/* Contact */

.contact__info{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.content__address-heading{
  margin-bottom: 0;
}
.content__address-text{
  font-size: 1.6rem;
  margin-top: 2px;
}
