/* Color Pallete */
:root {
  --background-color: #ffffff;
  --default-color: #4e4e4e;
  --heading-color: #0a090f;
  --accent-color: #0078ff;
  --surface-color: #ffffff;
}

/* Typography */
html {
  font-size: 62.5%;
}
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

body {
  font-size: 2.1rem;
  font-family: var(--default-font);
  color: var(--default-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  margin: 1.5rem 0;
  font-weight: 700;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  h4 {
    font-size: 2.8rem;
  }
}
