/* Color Pallete */
:root {
  --background-color: #ffffff;
  --default-color: #4e4e4e;
  --heading-color: #0a090f;
  --accent-color: #0078ff;
  --surface-color: #ffffff;
}

.accent-background {
  --background-color: #0078ff;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #ffffff;
  --surface-color: #3393ff;
  --contrast-color: #ffffff;
}

/* Typography */
html {
  font-size: 62.5%;
}
:root {
  --default-font:
    "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2.1rem;
  font-family: var(--default-font);
  color: var(--default-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  margin: 1.5rem 0;
  font-weight: 600;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  h5 {
    font-size: 2rem;
  }
}

/* Utility Classes */

.grid {
  display: grid;
}

.list {
  list-style: none;
  font-size: 1.4rem;
}

.bold {
  font-weight: bold;
  color: var(--default-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Icons */

.icon {
  width: 32px;
  height: 32px;
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon--lsmall {
  width: 24px;
  height: 24px;
}

.icon--white {
  color: var(--surface-color);
}

.icon--accent {
  color: var(--accent-color);
}

.icon__container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__boundary {
  border: 1px solid var(--accent-color);
  background-color: var(--surface-color);
  width: 48px;
  height: 48px;
  transition: color 0.4s;
}

.icon__boundary:hover {
  background-color: var(--accent-color);
}
.icon__boundary:hover .icon {
  color: var(--surface-color);
}

/* Service Components */
.service__card {
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--surface-color);
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  border-bottom: 5px solid var(--surface-color);
  margin: 2rem;
  height: 200px;
}
.service__card > p {
  line-height: 1.2;
  font-size: 1.4rem;
}

/* Resume Element */
.resume__info {
  margin: 3rem;
}

.resume__items {
  padding-left: 1.6rem;
  border-left: 2px solid dodgerblue;
  position: relative;
}
.resume__description {
  font-style: italic;
}

.resume__items-heading {
  color: var(--default-color);
  text-transform: uppercase;
}
.list__items {
  padding-bottom: 1rem;
}
.list__item {
  margin-bottom: 1rem;
}

.resume__items::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -10px;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

/* Pricing Section */

.pricing__description {
  font-size: 2rem;
}

.pricing__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted var(--default-color);
  margin: 2rem;
}

.pricing__item-price {
  color: var(--accent-color);
}

/* FAQ */
.faq__item {
  background-color: var(--surface-color);
  position: relative;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.number {
  color: var(--accent-color);
}

.faq__item .icon {
  position: absolute;
  right: 24px;
  top: 24px;
}

.faq__content {
  font-size: 1.6rem;
  width: 100%;
  height: 0;
  opacity: 0;
  transition:
    height 0.2s ease-in,
    opacity 0.4s ease;
}

.collapsible--expanded .faq__item-heading {
  color: var(--accent-color);
}
.collapsible--expanded .faq__content {
  height: 100%;
  opacity: 1;
}

.collapsible--expanded .icon {
  transform: rotate(90deg);
  fill: var(--accent-color);
  transition: transform 0.5s;
}

/* Contact */

.contact__info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.content__address-heading {
  margin-bottom: 0;
}
.content__address-text {
  font-size: 1.6rem;
  margin-top: 2px;
}

.contact__form {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin: 3rem;
}

input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  margin-top: 2rem;
  color: var(--default-color);
  background-color: color-mix(
    in srgb,
    var(--background-color),
    transparent 50%
  );
  border-color: color-mix(in srgb, var(--default-color), transparent 85%);
  outline-color: var(--accent-color);
}

textarea {
  height: 14rem;
}

.contact__form-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.contact__form {
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 30px;
  font-size: 1.6rem;
  margin: 2rem 2rem 0 2rem;
  cursor: pointer;
}

.btn--accent {
  background-color: var(--accent-color);
  color: var(--surface-color);
}

/* Person Information */

.person__info {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 3rem;
  padding: 2.5rem;
  gap: 2rem;
  font-size: 1.8rem;
}

.person__bio-details {
  display: grid;
  gap: 2rem;
}

.person__bio-details img {
  width: 100%;
}

.list__item span {
  white-space: nowrap;
}

.skill {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.skill span {
  font-size: 1.2rem;
  font-family: var(--heading-font);
  font-weight: bold;
}

.person__skills {
  margin-top: 3rem;
}

.progress__bar_wrap {
  width: 100%;
  height: 10px;
  background-color: color-mix(in srgb, var(--default-color), transparent 90%);
}
.progress__bar {
  height: 10px;
  background-color: var(--accent-color);
}

.person__about p {
  margin-bottom: 1.2rem;
}

.person__about-heading {
  position: relative;
  margin-top: 0;
}

.person__about-heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .person__bio-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

.block__header {
  text-align: center;
}

.block__heading {
  font-weight: bold;
  position: relative;
}

.block__heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 4px;
  background: var(--accent-color);
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.isotype__container {
  padding: 1rem;
  display: grid;
  gap: 3rem;
}

.isotype .list {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 1rem;
  transition: color 0.7s ease-in;
  cursor: pointer;
}

.isotype .list__item:first-child {
  color: var(--accent-color);
}

.isotype .list__item:hover {
  color: var(--accent-color);
}

.isotype__image {
  position: relative;
}

.isotype__image img {
  width: 100%;
  padding: 1.2rem;
}

.isotype__info {
  position: absolute;
  opacity: 0;
  left: 30px;
  right: 30px;
  bottom: 40px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: color-mix(in srgb, var(--background-color), transparent 10%);
  padding: 10px;
  font-size: 1.2rem;
}

.isotype__image:hover .isotype__info {
  opacity: 1;
}

.isotype__info h4 {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .isotype .list {
    font-size: 1.6rem;
  }

  .isotype__container {
    margin: 4rem;
  }

  .isotype__info {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Acheivements */

.stats {
  color: var(--surface-color);
  background-image: url(/img/counters-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 5rem 0;
  font-weight: 700;
}

.stats::before {
  content: "";
  background-color: var(--accent-color);
  opacity: 0.6;
  position: absolute;
  height: 100%;
  width: 100%;
}

.purecounter {
  font-size: 4.8rem;
  display: block;
  font-weight: 700;
}

.stats__item {
  width: 100%;
  z-index: 5;
  padding: 4rem 0;
}

.stats__items {
  text-align: center;
  padding: 8rem 0;
}

@media screen and (min-width: 1024px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Testimonials */

.testimonials {
  position: relative;
  padding: 80px 0;
  color: var(--surface-color);
  font-size: 1.6rem;
  height: 520px;
  display: flex;
  align-items: center;
}

.testimonials::before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.testimonials__bg {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.section {
  color: var(--default-color);
  background-color: var(--accent-color);
  padding: 120px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

.testimonials__item img {
  width: 90px;
  border-radius: 100%;
  border: 4px solid var(--surface-color);
}

.testimonials__container {
  position: relative;
  z-index: 4;
  text-align: center;
  width: 75%;
}

.testimonials__list {
  transition-duration: 0ms;
  transition-delay: 0ms;
}

.testimonials__item {
  width: 100%;
  margin: 0 auto;
}

.person__profile {
  font-size: 1.4rem;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-weight: normal;
}

.person__name,
.person__profile {
  margin: 0;
}

.stars {
  margin: 2rem;
}

.quote__text {
  font-style: italic;
  font-size: 1.8rem;
}

.quote__text::before,
.quote__text::after {
  font-size: 2em;
  line-height: 0;
  vertical-align: -0.4em;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
  color: var(--surface-color);
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #ccc);
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

