/* Color Pallete */
:root {
  --background-color: #ffffff;
  --default-color: #4e4e4e;
  --heading-color: #0a090f;
  --accent-color: #0078ff;
  --surface-color: #ffffff;
}

/* Typography */
html {
  font-size: 62.5%;
}
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

body {
  font-size: 2.1rem;
  font-family: var(--default-font);
  color: var(--default-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  margin: 1.5rem 0;
  font-weight: 700;
}

h1 {
  font-size: 5.8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.6rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  h4 {
    font-size: 2.8rem;
  }
}
/* Icons */

.icon{
  width: 32px;
  height: 32px;
}

.icon--white{
  color: var(--surface-color);
}

.icon__container{
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Service Components */
.service__card {
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--surface-color);
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  border-bottom: 5px solid var(--surface-color);
  height: 100%;
  margin: 2rem;
  height: 200px;
  
}
.service__card > p {
  line-height: 1.2;
  font-size: 1.4rem;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
