<div class="stats accent-background">
  <div class="stats__items container grid grid--1x2 grid--1x4">
    <div class="stats__item">
      <span class="purecounter">252</span>
      <p>Clients</p>
    </div>
    <div class="stats__item">
      <span class="purecounter">521</span>
      <p>Projects</p>
    </div>
    <div class="stats__item">
      <span class="purecounter">1453</span>
      <p>Hours Of Support</p>
    </div>
    <div class="stats__item">
      <span class="purecounter">32</span>
      <p>Awards</p>
    </div>
  </div>
</div>
