 <div id="contact" class="contact container">
      <div class="block block__header">
      <h3 class="block__heading">Contact</h3>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
      <div class="contact--wrap grid grid--1x3">
        <div class="contact__info">
          <div class="icon__container icon__boundary">
            <svg class="icon icon--lsmall icon--accent">
              <use xlink:href="img/sprite.svg#geo-alt"></use>
            </svg>
          </div>
          <div class="content__address">
            <h5 class="content__address-heading">Address</h5>
            <p class="content__address-text">
              A108 Adam Street, New York, NY 535022
            </p>
          </div>
        </div>
        <div class="contact__info">
          <div class="icon__container icon__boundary">
            <svg class="icon icon--lsmall icon--accent">
              <use xlink:href="img/sprite.svg#telephone"></use>
            </svg>
          </div>
          <div class="content__address">
            <h5 class="content__address-heading">Call Us</h5>
            <p class="content__address-text">+1 5589 55488 55s</p>
          </div>
        </div>
        <div class="contact__info">
          <div class="icon__container icon__boundary">
            <svg class="icon icon--lsmall icon--accent">
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
          </div>
          <div class="content__address">
            <h5 class="content__address-heading">Email Us</h5>
            <p class="content__address-text">info@example.com</p>
          </div>
        </div>
      </div>
      <div class="contact__form">
        <div class="contact__form-info grid grid--1x2">
          <div class="contact__values">
            <input
              class="form__control"
              name="name"
              type="text"
              placeholder="Your Name"
            />
          </div>
          <div class="contact__values">
            <input
              class="form__control"
              name="email"
              type="email"
              placeholder="Your Email"
            />
          </div>
        </div>
        <div class="contact__values">
          <input
            class="form__control"
            type="text"
            name="subject"
            placeholder="Subject"
          />
        </div>
        <div class="contact__values">
          <textarea
            name="message"
            id="message"
            placeholder="Message"
          ></textarea>
        </div>
        <button class="btn btn--accent">Send Message</button>
      </div>
    </div>
