<div class="contact__form">
  <div class="contact__form-info">
    <div class="contact__values">
      <input
        class="form__control"
        name="name"
        type="text"
        placeholder="Your Name"
      />
    </div>
    <div class="contact__values">
      <input
        class="form__control"
        name="email"
        type="email"
        placeholder="Your Email"
      />
    </div>
  </div>
  <div class="contact__values">
    <input
      class="form__control"
      type="text"
      name="subject"
      placeholder="Subject"
    />
  </div>
  <div class="contact__values">
    <textarea name="message" id="message" placeholder="Message"></textarea>
  </div>
  <button class="btn btn--accent">Send Message</button>
</div>
