<footer class="footer">
  <div class="footer__container container">
    <p class="footer__description">
      &copy; Copyright <strong>Deepfolio</strong> All Rights Reserved
    </p>
    <div class="footer__social-media">
      <svg class="icon icon__boundary icon__container">
        <use xlink:href="img/sprite.svg#twitter-x"></use>
      </svg>
      <svg class="icon icon__boundary icon__container">
        <use xlink:href="img/sprite.svg#facebook"></use>
      </svg>
      <svg class="icon icon__boundary icon__container">
        <use xlink:href="img/sprite.svg#instagram"></use>
      </svg>
      <svg class="icon icon__boundary icon__container">
        <use xlink:href="img/sprite.svg#linkedin"></use>
      </svg>
    </div>
    <p>Designed By Deep Panjab</p>
  </div>
</footer>
