
<div class="container">
      <section class="isotype__container isotype">
        <ul class="list">
          <li class="list__item">All</li>
          <li class="list__item">App</li>
          <li class="list__item">Product</li>
          <li class="list__item">Branding</li>
          <li class="list__item">Books</li>
        </ul>
        <div class="isotype__layout grid grid--1x2 grid--1x3">
          <div class="isotype__image">
            <img src="img/app-1.jpg" alt="" />
            <div class="isotype__info">
              <h4>App 1</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="isotype__image">
            <img src="img/books-1.jpg" alt="" />
            <div class="isotype__info">
              <h4>Book 1</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="isotype__image">
            <img src="img/branding-1.jpg" alt="" />
            <div class="isotype__info">
              <h4>Branding 1</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="isotype__image">
            <img src="img/product-1.jpg" alt="" />
            <div class="isotype__info">
              <h4>Product 1</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="isotype__image">
            <img src="img/app-2.jpg" alt="" />
            <div class="isotype__info">
              <h4>App 2</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>

          <div class="isotype__image">
            <img src="img/books-2.jpg" alt="" />
            <div class="isotype__info">
              <h4>Book 2</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>

          <div class="isotype__image">
            <img src="img/branding-2.jpg" alt="" />
            <div class="isotype__info">
              <h4>Branding 2</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="isotype__image">
            <img src="img/product-2.jpg" alt="" />
            <div class="isotype__info">
                 <h4>Product 2</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>

          <div class="isotype__image">
            <img src="img/app-3.jpg" alt="" />
            <div class="isotype__info">
              <h4>App 3</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>

          <div class="isotype__image">
            <img src="img/books-3.jpg" alt="" />
            <div class="isotype__info">
              <h4>Book 3</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>

          <div class="isotype__image">
            <img src="img/branding-3.jpg" alt="" />
            <div class="isotype__info">
              <h4>Branding 3</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="isotype__image">
            <img src="img/product-3.jpg" alt="" />
            <div class="isotype__info">
              <h4>Product 3</h4>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
         
        </div>
      </section>
    </div>