<header class="navbar__header">
      <nav class="nav container">
        <span class="nav__logo">
          <a href="index.html">DeepFolio</a>
        </span>

        <svg class="icon icon--white nav__hambar">
          <use xlink:href="img/sprite.svg#hambar"></use>
        </svg>

        <ul class="nav__list list">
          <li class="nav-item">
            <a href="#home" class="nav__link js-scroll">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav__link js-scroll">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav__link js-scroll">Services</a>
          </li>
          <li class="nav-item">
            <a href="#work" class="nav__link js-scroll">Work</a>
          </li>
          <li class="nav-item">
            <a href="#blog" class="nav__link js-scroll">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav__link js-scroll">Contact</a>
          </li>
        </ul>
      </nav>
    </header>