<div class="container">
      <section class="person__info grid grid--1x2">
        <div class="person__bio">
          <div class="person__bio-details">
            <img src="img/profile-img.jpg" alt="" />
            <ul class="list">
              <li class="list__item">
                <span class="bold">Name: </span>Jashandeep Singh
              </li>
              <li class="list__item">
                <span class="bold">Profile: </span>Front-end Developer
              </li>
              <li class="list__item">
                <span class="bold">Email: </span>contact@deeppanjab.com
              </li>
              <li class="list__item">
                <span class="bold">Phone: </span>(91) 95177-34356
              </li>
            </ul>
          </div>
          <div class="person__skills">
            <h5>Skills</h5>
            <div class="progress">
              <div class="skill">
                <span>HTML</span>
                <span class="percent">%100</span>
              </div>
              <div class="progress__bar_wrap">
                <div class="progress__bar"></div>
              </div>
            </div>

            <div class="progress">
              <div class="skill">
                <span>CSS</span>
                <span class="percent">%90</span>
              </div>
              <div class="progress__bar_wrap">
                <div class="progress__bar" style="width: 90%"></div>
              </div>
            </div>

            <div class="progress">
              <div class="skill">
                <span>JavaScript</span>
                <span class="percent">%75</span>
              </div>
              <div class="progress__bar_wrap">
                <div class="progress__bar" style="width: 75%"></div>
              </div>
            </div>

            <div class="progress">
              <div class="skill">
                <span>Photoshop</span>
                <span class="percent">%60</span>
              </div>
              <div class="progress__bar_wrap">
                <div class="progress__bar" style="width: 60%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="person__about">
          <h4 class="person__about-heading">About me</h4>
          <p>
            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi. Nulla porttitor accumsan tincidunt
          </p>

          <p>
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus
            suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
            sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
          </p>

          <p>
            Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut
            lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
          </p>
        </div>
      </section>
    </div>