<div class="pricing container">
      <div class="block block__header">
      <h3 class="block__heading">Pricing</h3>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
      <div class="pricing__items grid grid--1x2">
        <div class="pricing__item">
          <h4 class="pricing__description">Portrait Photography</h4>
          <h5 class="pricing__item-price">$160.00</h5>
        </div>
        <div class="pricing__item">
          <h4 class="pricing__description">Sports Photography</h4>
          <h5 class="pricing__item-price">$200.00</h5>
        </div>
        <div class="pricing__item">
          <h4 class="pricing__description">Wedding  Photography</h4>
          <h5 class="pricing__item-price">$500.00</h5>
        </div>
        <div class="pricing__item">
          <h4 class="pricing__description">Fashion  Photography</h4>
          <h5 class="pricing__item-price">$300.00</h5>
        </div>
        <div class="pricing__item">
          <h4 class="pricing__description">Still Life  Photography</h4>
          <h5 class="pricing__item-price">$120.00</h5>
        </div>
        <div class="pricing__item">
          <h4 class="pricing__description">Photojournalism</h4>
          <h5 class="pricing__item-price">$200.00</h5>
        </div>
        
      </div>
    </div>