<div class="resume__info">
  <h3 class="resume__title">Summary</h3>
  <div class="resume__items">
    <h4 class="resume__items-heading">Brandon Johnson</h4>
    <p class="resume__description">
      Innovative and deadline-driven Graphic Designer with 3+ years of
      experience designing and developing user-centered digital/print marketing
      material from initial concept to final, polished deliverable.
    </p>
    <ul class="list__items">
      <li class="list__item">Portland par 127,Orlando, FL</li>
      <li class="list__item">(123) 456-7891</li>
      <li class="list__item">alice.barkley@example.com</li>
    </ul>
  </div>
</div>