<div class="service  container">
      <div class="block block__header">
      <h3 class="block__heading">Portfolio</h3>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
      <div class="service__container grid grid--1x2 grid--1x3">
        <div class="service__card">
          <div class="icon__container">
            <svg class="icon icon--white">
              <use xlink:href="img/sprite.svg#activity"></use>
            </svg>
          </div>
          <h3 class="card__heading">Nescuint Mete</h3>
          <p>
            Provident nihil minus qui consequatur non omnis maiores. Eos
            accusantium minus dolores iure perferendis tempore et consequatur.
          </p>
        </div>
        <div class="service__card">
          <div class="icon__container">
            <svg class="icon icon--white">
              <use xlink:href="img/sprite.svg#broadcast"></use>
            </svg>
          </div>
    
          <h3 class="card__heading">Eosle Commodi</h3>
          <p>
            Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
          
        </div>
        <div class="service__card">
          <div class="icon__container">
            <svg class="icon icon--white">
              <use xlink:href="img/sprite.svg#easel"></use>
            </svg>
          </div>
          <h3 class="card__heading">Ledo Markt</h3>
          <p>
            Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.
          </p>
        </div>
        <div class="service__card">
          <div class="icon__container">
            <svg class="icon icon--white">
              <use xlink:href="img/sprite.svg#bounding-box-circles"></use>
            </svg>
          </div>
          <h3 class="card__heading">Asperiores Commodit</h3>
          <p>
            Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.
          </p>
        </div>
        <div class="service__card">
          <div class="icon__container">
            <svg class="icon icon--white">
              <use xlink:href="img/sprite.svg#calendar-week"></use>
            </svg>
          </div>
          <h3 class="card__heading">Velit Doloremque</h3>
          <p>
            Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.
          </p>
        </div>
        <div class="service__card">
          <div class="icon__container">
            <svg class="icon icon--white">
              <use xlink:href="img/sprite.svg#chat-square-text"></use>
            </svg>
          </div>
          <h3 class="card__heading">Dolori Architecto</h3>
          <p>
            Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.
          </p>
        </div>
      </div>
    </div>