<section class="testimonials section accent-background ">
      <img class="testimonials__bg" src="img/testimonials-bg.jpg" alt="" />
      <div class="testimonials__container swiper container">
        <div class="testimonials__list list swiper-wrapper">
          <div class="testimonials__item swiper-slide">
            <img src="img/testimonials-1.jpg" alt="" />
            <h5 class="person__name">Saul Goodman</h5>
            <h6 class="person__profile">Ceo & Founder</h6>
            <div class="stars">
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>

            <blockquote class="quote">
              <p class="quote__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Commodi voluptate repudiandae sed, facere reiciendis tempora
                odio perspiciatis accusantium dicta beatae.
              </p>
            </blockquote>
          </div>

          <div class="testimonials__item swiper-slide">
            <img src="img/testimonials-2.jpg" alt="" />
            <h5 class="person__name">Sara Wilson</h5>
            <h6 class="person__profile">Designer</h6>
            <div class="stars">
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>

            <blockquote class="quote">
              <p class="quote__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Commodi voluptate repudiandae sed, facere reiciendis tempora
                odio perspiciatis accusantium dicta beatae.
              </p>
            </blockquote>
          </div>
          <div class="testimonials__item swiper-slide">
            <img src="img/testimonials-3.jpg" alt="" />
            <h5 class="person__name">Jena Karslin</h5>
            <h6 class="person__profile">Store Owner</h6>
            <div class="stars">
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>

            <blockquote class="quote">
              <p class="quote__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Commodi voluptate repudiandae sed, facere reiciendis tempora
                odio perspiciatis accusantium dicta beatae.
              </p>
            </blockquote>
          </div>
          <div class="testimonials__item swiper-slide">
            <img src="img/testimonials-4.jpg" alt="" />
            <h5 class="person__name">Matt Brandon</h5>
            <h6 class="person__profile">Freelancer</h6>
            <div class="stars">
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>

            <blockquote class="quote">
              <p class="quote__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Commodi voluptate repudiandae sed, facere reiciendis tempora
                odio perspiciatis accusantium dicta beatae.
              </p>
            </blockquote>
          </div>
          <div class="testimonials__item swiper-slide">
            <img src="img/testimonials-5.jpg" alt="" />
            <h5 class="person__name">John Larson</h5>
            <h6 class="person__profile">Enterprenur</h6>
            <div class="stars">
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
              <svg class="icon icon--small">
                <use xlink:href="img/sprite.svg#star"></use>
              </svg>
            </div>

            <blockquote class="quote">
              <p class="quote__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Commodi voluptate repudiandae sed, facere reiciendis tempora
                odio perspiciatis accusantium dicta beatae.
              </p>
            </blockquote>
          </div>
        </div>
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
    </section>